.container
    .row
        .page-header
            h1 #{title}
            small 骐骥一跃,不能十步
    .row
        .nav.nav-pills(role='tablist')
            li(role='presentation'): a(href='/',role='button') Index
            li(role='presentation'): a(href='/admin/list',role='button') List
            li(role='presentation'): a(href='/admin/movie',role='button') Admin

