link(href='/lib/bower_components/bootstrap/dist/css/bootstrap.min.css',rel='stylesheet')
link(href='/stylesheets/index.css',rel='styleSheet')
script(src='/lib/bower_components/jquery/dist/jquery.min.js')
script(src='/lib/bower_components/bootstrap/dist/js/bootstrap.min.js')